    <nav class="navbar">
        <div class="navbar-inner container">
            <a class="navbar-brand" href="#">Logotext</a>
            <ul class="nav">
            {% for item in navigation.items %}
                <li class="nav-item">
                    <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </nav>